.img-1{
    display: block;
    height: 800px;
    margin-left: auto;
}

.img-4{
    display: block;
    height: 800px;
}

.img-2{
    display: block;
    height: 800px;
    margin-left: auto;
}

.img-5{
    display: block;
    height: 300px;
}

.img-6{
    display: block;
    height: 800px;
}

.img-7{
    display: block;
    height: 800px;
    margin-left: auto;
}

.img-8{
    display: block;
    height: 800px;
    margin-left: auto;
}

.vid-1{
    display: block;
    height: 800px;
    margin-left: auto;
}

.vid-2{
    display: block;
    height: 800px;
    margin-left: auto;
}

.vid-3{
    display: block;
    height: 800px;
}

.vid-4{
    display: block;
    height: 800px;
}

.vid-5{
    display: block;
    height: 800px;
}

.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alien-head{
    display: block;
    height: 300px;
}

.dancing-me{
    display: block;
    height: 400px;
}

.alien-cat{
    display: block;
    height: 500px;
}

.squeezing-cat{
    display: block;
    height: 400px;
}

.title-img{
    display: block;
    height: 800px;
}

body{
    background-image: url('img/starry.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(185, 241, 222);
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(22, 113, 113);
    font-size: 40px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(22, 113, 113);
}

section{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
}

section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
}

section-3{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-5{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-7{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-8{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-9{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-10{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-11{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

section-12{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}